apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: build-mq-image
spec:
  resources:
    inputs:
      - name: source
        type: git  
    # outputs:
    #     - name: mq-image
    #       type: image
  steps:
    - name: build-sources
      image: docker
      workingDir: /workspace/source
      command: [ /bin/sh ]
      args: 
        - -c
        - |
          set -eu
          apk add make
          apk add curl
          make
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/run/
        name: dind-socket
  sidecars:
  - image: docker:18.05-dind
    name: server
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: /var/lib/docker
        name: dind-storage
      - mountPath: /var/run/
        name: dind-socket
  volumes:
    - name: dind-storage
      emptyDir: {}
    - name: dind-socket
      emptyDir: {}